<div class="page-header">
  <h1>Fulfill email request #<%= @email.id %></h1>
</div>

<% if @email.errors.any? %>
  <% @email.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
  <% end %>

  <dl class="dl-horizontal">
  <dt>Objective</dt>
  <dd><%= @email.objective %></dd>

  <dt>Deadline</dt>
  <dd><%= @email.deadline %></dd>

  <dt>Call to action</dt>
  <dd><%= @email.call_to_action %></dd>

  <dt>Email type</dt>
  <dd><%= @email.email_type %></dd>

  <dt>Recipient name</dt>
  <dd><%= @email.recipient_name %></dd>


</dl>


<form action="/update_email/<%= @email.id %>" class="form-horizontal">

  <!-- Label and input for subject -->
  <div class="form-group">
    <label for="subject" class="col-sm-2 control-label">
      Subject
    </label>
    <div class="col-sm-10">
      <textarea id="subject" name="subject" placeholder="Subject" class="form-control" rows="3"><%= @email.subject %></textarea>
    </div>
  </div>

  <!-- Label and input for body -->
  <div class="form-group">
    <label for="body" class="col-sm-2 control-label">
      Body
    </label>
    <div class="col-sm-10">
      <textarea id="body" name="body" placeholder="Body" class="form-control" rows="3"><%= @email.body %></textarea>
    </div>
  </div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Fulfill request" class="btn btn-primary">
    </div>
  </div>

</form>





